In [75]:
# import pandas
import pandas as pd
import numpy as np
# import TfidfTransformer from sklearn
from sklearn.feature_extraction.text import TfidfTransformer

# import CountVectorizer
from sklearn.feature_extraction.text import CountVectorizer

In [76]:
docs=["the house had a tiny little mouse",
      "the cat saw the mouse",
      "the mouse ran away from the house",
      "the cat finally ate the mouse",
      "the end of the mouse story"
     ]

In [77]:
docs

['the house had a tiny little mouse',
 'the cat saw the mouse',
 'the mouse ran away from the house',
 'the cat finally ate the mouse',
 'the end of the mouse story']

# BagOfWords

* instantiate CountVectorizer()

In [78]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()

* use fit_transform method of CountVectorizer to 'docs' and store the result in 'word_count_vector'

In [79]:
word_count_vector = vectorizer.fit_transform(docs)

* print the shape

In [80]:
word_count_vector.shape

(5, 16)

* create dataframe from word_count_vector

In [81]:
pd.DataFrame(word_count_vector.todense())

   0  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15
0  0  0  0  0  0  0  1  1  1  1   0   0   0   0   1   1
1  0  0  1  0  0  0  0  0  0  1   0   0   1   0   2   0
2  0  1  0  0  0  1  0  1  0  1   0   1   0   0   2   0
3  1  0  1  0  1  0  0  0  0  1   0   0   0   0   2   0
4  0  0  0  1  0  0  0  0  0  1   1   0   0   1   2   0

# TfIdf with TfidfTransformer

* instantiate TfidfTransformer() with following params: 
* smooth_idf=True
* use_idf=True

In [82]:
from sklearn.feature_extraction.text import TfidfTransformer

transformer = TfidfTransformer(smooth_idf=True, use_idf = True)

* use fit_transform method of tfidf transformer on 'word_count_vector' created above and store the result in 'tf_idf_data'

In [83]:
tf_idf_data = transformer.fit_transform(word_count_vector)

* create dataframe from 'tf_idf_data'

In [84]:
pd.DataFrame(tf_idf_data.todense())

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.493562,0.398203,0.493562,0.235185,0.000000,0.000000,0.000000,0.000000,0.235185,0.493562
1,0.000000,0.000000,0.483344,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.285471,0.000000,0.000000,0.599092,0.000000,0.570941,0.000000
2,0.000000,0.457093,0.000000,0.000000,0.000000,0.457093,0.000000,0.368780,0.000000,0.217807,0.000000,0.457093,0.000000,0.000000,0.435614,0.000000
3,0.513923,0.000000,0.414630,0.000000,0.513923,0.000000,0.000000,0.000000,0.000000,0.244887,0.000000,0.000000,0.000000,0.000000,0.489774,0.000000
4,0.000000,0.000000,0.000000,0.491753,0.000000,0.000000,0.000000,0.000000,0.000000,0.234323,0.491753,0.000000,0.000000,0.491753,0.468646,0.000000

* print IDF for words in 'docs'

In [85]:
transformer.fit(word_count_vector).idf_

array([2.09861229, 2.09861229, 1.69314718, 2.09861229, 2.09861229,
       2.09861229, 2.09861229, 1.69314718, 2.09861229, 1.        ,
       2.09861229, 2.09861229, 2.09861229, 2.09861229, 1.        ,
       2.09861229])

# TTfidfVectorizer (Equivalent to CountVectorizer followed by TfidfTransformer)

* import TfidfVectorizer

In [97]:
from sklearn.feature_extraction.text import TfidfVectorizer

* instantiate TfidfVectorizer with use_idf=True

In [98]:
vectorize = TfidfVectorizer(use_idf = True)

* fit and transforn 'docs' with TfidfVectorizer and store the result in 'tfidf_vectorizer_data'

In [99]:
#tfidf_vectorizer_data = vectorize.fit_transform(docs)

In [100]:
vectorize.fit(docs)

TfidfVectorizer()

In [101]:
vectorize.vocabulary_

{'the': 14,
 'house': 7,
 'had': 6,
 'tiny': 15,
 'little': 8,
 'mouse': 9,
 'cat': 2,
 'saw': 12,
 'ran': 11,
 'away': 1,
 'from': 5,
 'finally': 4,
 'ate': 0,
 'end': 3,
 'of': 10,
 'story': 13}

In [102]:
tfidf_vectorizer_data = vectorize.transform(docs)

* create dataframe from tfidf_vectorizer_data

In [103]:
df_tf_idf = pd.DataFrame(tfidf_vectorizer_data.todense())

* print 'df_tf_idf'

In [104]:
df_tf_idf

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.493562,0.398203,0.493562,0.235185,0.000000,0.000000,0.000000,0.000000,0.235185,0.493562
1,0.000000,0.000000,0.483344,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.285471,0.000000,0.000000,0.599092,0.000000,0.570941,0.000000
2,0.000000,0.457093,0.000000,0.000000,0.000000,0.457093,0.000000,0.368780,0.000000,0.217807,0.000000,0.457093,0.000000,0.000000,0.435614,0.000000
3,0.513923,0.000000,0.414630,0.000000,0.513923,0.000000,0.000000,0.000000,0.000000,0.244887,0.000000,0.000000,0.000000,0.000000,0.489774,0.000000
4,0.000000,0.000000,0.000000,0.491753,0.000000,0.000000,0.000000,0.000000,0.000000,0.234323,0.491753,0.000000,0.000000,0.491753,0.468646,0.000000

* print IDF for words in 'docs'

In [105]:
vectorize.idf_

array([2.09861229, 2.09861229, 1.69314718, 2.09861229, 2.09861229,
       2.09861229, 2.09861229, 1.69314718, 2.09861229, 1.        ,
       2.09861229, 2.09861229, 2.09861229, 2.09861229, 1.        ,
       2.09861229])