In [2]:
# import the widgets
import ipywidgets as widgets

# import the interact and the interact_manual from widgetss
from ipywidgets.widgets import interact, interact_manual

# import pandas
import pandas as pd


# import plotly 
import plotly.graph_objects as go

In [7]:
slider = widgets.IntSlider(
    min=0,
    max=10,
    step=1,
    description='Slider:',
    value=3
)

slider

IntSlider(value=3, description='Slider:', max=10)

In [9]:
# the current value of slider
print(slider.value)

8

In [21]:
# All possible widgets
#print(dir(widgets))

In [11]:
# the data url
url = "https://data.london.gov.uk/download/number-international-visitors-london/b1e0f953-4c8a-4b45-95f5-e0d143d5641e/international-visitors-london-raw.csv"

# create the data-frame
df_london = pd.read_csv(url, encoding= 'unicode_escape')
df_london.columns = ["year","quarter","market","dur_stay","mode","purpose","area","visits","spend","nights","sample"]

# sample 200 rows
df = df_london.sample(200)

In [15]:
df.head()

,year,quarter,market,dur_stay,mode,purpose,area,visits,spend,nights,sample
42889,2014,July-September,Spain,4-7 nights,Air,Holiday,LONDON,82.926341,39.039282,383.186998,57
48698,2016,January-March,Pakistan,1-3 nights,Air,VFR,LONDON,1.421080,0.915200,3.974198,2
7209,2004,January-March,Japan,1-3 nights,Air,Miscellaneous,LONDON,1.793933,0.355036,2.009712,5
26320,2009,October-December,Finland,1-3 nights,Air,Business,LONDON,5.798020,3.292098,10.636144,26
19922,2007,October-December,Czech Republic,1-3 nights,Tunnel,Business,LONDON,1.139080,0.160305,1.081820,1

In [16]:
def filter_df(column, threshold):
    return df[df[column] <= threshold]

In [20]:
filter_widget = widgets.interact(filter_df,
                                 column=['spend','visits'], 
                                 threshold=(1, 30, 1))
filter_widget

interactive(children=(Dropdown(description='column', options=('spend', 'visits'), value='spend'), IntSlider(va…

In [24]:
# Updates graph imediately 
@interact
def scatter_plot(x=list(df.select_dtypes('number').columns),  y=list(df.select_dtypes('number').columns)[1:]):

    # trace
    trace = [go.Scatter(x=df[x], y=df[y], mode='markers')]

    # layout
    layout = go.Layout(
                title = 'Scatter plot', # Graph title
                xaxis = dict(title = x.title()), # x-axis label
                yaxis = dict(title = y.title()), # y-axis label
                hovermode ='closest' # handles multiple points landing on the same vertical
    )

    # fig
    fig = go.Figure(trace, layout)
    fig.show()

interactive(children=(Dropdown(description='x', options=('visits', 'spend', 'nights', 'sample'), value='visits…

In [26]:
# only updates graph after we click 'Run interact'
@interact_manual
def scatter_plot(x=list(df.select_dtypes('number').columns), y=list(df.select_dtypes('number').columns)[1:]):

    # trace
    trace = [go.Scatter(x=df[x], y=df[y], mode='markers')]

    # layout
    layout = go.Layout(
                title = 'Scatter plot', # Graph title
                xaxis = dict(title = x.title()), # x-axis label
                yaxis = dict(title = y.title()), # y-axis label
                hovermode ='closest' # handles multiple points landing on the same vertical
    )

    # fig
    fig = go.Figure(trace, layout)
    fig.show()

interactive(children=(Dropdown(description='x', options=('visits', 'spend', 'nights', 'sample'), value='visits…