In [4]:
from sklearn.datasets import make_blobs

# import pandas
import pandas as pd
# import Kmeans 
from sklearn.cluster import KMeans
# import numpy
import numpy as np
# import matplotlib
import matplotlib.pyplot as plt


from sklearn import metrics
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import normalize

# aglomerative clustering
from sklearn.cluster import AgglomerativeClustering
# cluster hierarchy
import scipy.cluster.hierarchy as sch


# set figure size
plt.rcParams["figure.figsize"] = (12,8)

In [2]:
# Load dataframe
df = pd.read_csv('https://raw.githubusercontent.com/lucko515/clustering-python/master/Customer%20in%20Mall%20clusterng/Mall_Customers.csv')

## Objective: 

- Fit Hierarchical clustering, 
- find optimal number of clusters via dendrogram 
- and plot clusters. 

Again, to simplify plotting in 2-D, we can create clustering model based on the last two columns of the dataset only.

In [3]:
data = data_scaled = normalize(data)
data_scaled = pd.DataFrame(data_scaled, columns=data.columns)
data_scaled.head()

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

* define function plot_dendogram

* Plot dendrogram

* Fit Hierarchical clustering with optimal number of clusters

* define function plot_clusters

* Plot HC clusters