In [33]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn import naive_bayes as nb
from sklearn.metrics import roc_auc_score

In [34]:
df = pd.read_csv('train_data.txt', sep='\t', names=['liked','txt'])

In [35]:
df

       liked                                                txt
0          0  In the beginning God created the heavens and t...
1          1  And God said, Let there be light, and there wa...
2          1  And God said, Let there be a vault between the...
3          1  And God said, Let the water under the sky be g...
4          1  Then God said, Let the land produce vegetation...
...      ...                                                ...
30454      0                     Brokeback Mountain was boring.
30455      0       So Brokeback Mountain was really depressing.
30456      0  As I sit here, watching the MTV Movie Awards, ...
30457      0    Ok brokeback mountain is such a horrible movie.
30458      0   Oh, and Brokeback Mountain was a terrible movie.

[30459 rows x 2 columns]

In [36]:
stopset = set(stopwords.words('english'))
vectorizer = TfidfVectorizer(use_idf=True,lowercase=True,strip_accents='ascii', stop_words = stopset)

In [37]:
y = df.liked

In [38]:
X = vectorizer.fit_transform(df.txt)

In [21]:
print(X.shape)
print(y.shape)

(30459, 7121)
(30459,)

In [22]:
X_train,X_test,y_train,y_test = train_test_split(X,y)

In [24]:
clf = nb.MultinomialNB()
clf.fit(X_train,y_train)

MultinomialNB()

In [27]:
predicted = clf.predict_proba(X_test)[:,1]
predicted

array([0.00656358, 0.00372963, 0.99287227, ..., 0.98470662, 0.99977619,
       0.5314481 ])

In [28]:
roc_auc_score(y_test, predicted)

0.9986838806095952

In [31]:
test_text = ["The movie was good at being bad, and when I say bad, I mean bad ass "]

test_text = vectorizer.transform(test_text)

In [32]:
clf.predict(test_text)

array([1])