In [1]:
import numpy as np
import pandas as pd

In [3]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [9]:
# freq is opitional, defualt is days

dates = pd.date_range('20130101', periods=6, freq='d')
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.831450 -0.179872  0.236589  0.091086
2013-01-02  2.781378 -1.044732  2.216942  1.837481
2013-01-03  0.224711  0.940624 -0.801437  0.027306
2013-01-04  0.554579  1.564823 -1.984727 -0.277643
2013-01-05  0.241186 -1.053898  1.383223  3.763903
2013-01-06 -1.506029  0.499896 -0.395599 -1.161306

In [21]:
df2 = pd.DataFrame({'AA': 1.,
                       'AB': pd.Timestamp('20130102'),
                       'AC': pd.Series(1, index=list(range(4)), dtype='float32'),
                       'AD': np.array([3] * 4, dtype='int32'),
                       'AE': pd.Categorical(["test", "train", "test", "train"]),
                       'AF': 'foo'})
df2

    AA         AB   AC  AD     AE   AF
0  1.0 2013-01-02  1.0   3   test  foo
1  1.0 2013-01-02  1.0   3  train  foo
2  1.0 2013-01-02  1.0   3   test  foo
3  1.0 2013-01-02  1.0   3  train  foo

In [22]:
df2.dtypes

AA           float64
AB    datetime64[ns]
AC           float32
AD             int32
AE          category
AF            object
dtype: object

In [23]:
# just like terminal, pressing tab will show a list of valid names
df2.AA

0    1.0
1    1.0
2    1.0
3    1.0
Name: AA, dtype: float64

In [24]:
df.head()

                   A         B         C         D
2013-01-01 -0.831450 -0.179872  0.236589  0.091086
2013-01-02  2.781378 -1.044732  2.216942  1.837481
2013-01-03  0.224711  0.940624 -0.801437  0.027306
2013-01-04  0.554579  1.564823 -1.984727 -0.277643
2013-01-05  0.241186 -1.053898  1.383223  3.763903

In [25]:
df.tail(3)

                   A         B         C         D
2013-01-04  0.554579  1.564823 -1.984727 -0.277643
2013-01-05  0.241186 -1.053898  1.383223  3.763903
2013-01-06 -1.506029  0.499896 -0.395599 -1.161306

In [26]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [27]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [28]:
df.to_numpy()

array([[-0.83145038, -0.17987207,  0.23658934,  0.09108632],
       [ 2.78137794, -1.04473153,  2.21694203,  1.8374814 ],
       [ 0.22471069,  0.94062401, -0.8014375 ,  0.02730601],
       [ 0.55457881,  1.56482329, -1.98472666, -0.27764329],
       [ 0.24118607, -1.05389751,  1.38322279,  3.76390268],
       [-1.50602898,  0.49989581, -0.39559854, -1.16130619]])

In [29]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.244062  0.121140  0.109165  0.713471
std    1.466582  1.070496  1.519905  1.784590
min   -1.506029 -1.053898 -1.984727 -1.161306
25%   -0.567410 -0.828517 -0.699978 -0.201406
50%    0.232948  0.160012 -0.079505  0.059196
75%    0.476231  0.830442  1.096564  1.400883
max    2.781378  1.564823  2.216942  3.763903

In [30]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.831450    2.781378    0.224711    0.554579    0.241186   -1.506029
B   -0.179872   -1.044732    0.940624    1.564823   -1.053898    0.499896
C    0.236589    2.216942   -0.801437   -1.984727    1.383223   -0.395599
D    0.091086    1.837481    0.027306   -0.277643    3.763903   -1.161306

In [32]:
df

                   A         B         C         D
2013-01-01 -0.831450 -0.179872  0.236589  0.091086
2013-01-02  2.781378 -1.044732  2.216942  1.837481
2013-01-03  0.224711  0.940624 -0.801437  0.027306
2013-01-04  0.554579  1.564823 -1.984727 -0.277643
2013-01-05  0.241186 -1.053898  1.383223  3.763903
2013-01-06 -1.506029  0.499896 -0.395599 -1.161306

In [33]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  0.091086  0.236589 -0.179872 -0.831450
2013-01-02  1.837481  2.216942 -1.044732  2.781378
2013-01-03  0.027306 -0.801437  0.940624  0.224711
2013-01-04 -0.277643 -1.984727  1.564823  0.554579
2013-01-05  3.763903  1.383223 -1.053898  0.241186
2013-01-06 -1.161306 -0.395599  0.499896 -1.506029

In [34]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-05  0.241186 -1.053898  1.383223  3.763903
2013-01-02  2.781378 -1.044732  2.216942  1.837481
2013-01-01 -0.831450 -0.179872  0.236589  0.091086
2013-01-06 -1.506029  0.499896 -0.395599 -1.161306
2013-01-03  0.224711  0.940624 -0.801437  0.027306
2013-01-04  0.554579  1.564823 -1.984727 -0.277643