In [105]:
import numpy as np
import pandas as pd
import pandas_datareader as pdr
import matplotlib.pyplot as plt

import requests

from datetime import datetime


from textblob import TextBlob
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [106]:
key = "27a6ff13dada433202b9ed6acecc68e334b45a42"

In [107]:
df_original = pdr.get_data_tiingo('TSLA', api_key=key).reset_index().drop('symbol', axis=1)
df = df_original.copy()
df['date'] = pd.to_datetime(df['date'].dt.date)
df = df[['date', 'close', 'high', 'low', 'open', 'volume']]

In [108]:
df.head()

        date   close    high     low    open   volume
0 2015-09-14  253.19  254.25  249.67  251.10  2890851
1 2015-09-15  253.57  254.60  249.50  252.75  2933466
2 2015-09-16  262.25  262.88  252.88  253.04  4417081
3 2015-09-17  262.07  265.50  260.69  263.96  3585812
4 2015-09-18  260.62  263.82  257.50  257.96  3763064

In [109]:
df.shape

(1259, 6)

In [110]:
df['label'] = np.where(df['close'].shift(-3) > df['close'], 1, 0)

In [111]:
df.head(20)

         date   close    high       low    open   volume  label
0  2015-09-14  253.19  254.25  249.6700  251.10  2890851      1
1  2015-09-15  253.57  254.60  249.5000  252.75  2933466      1
2  2015-09-16  262.25  262.88  252.8800  253.04  4417081      0
3  2015-09-17  262.07  265.50  260.6900  263.96  3585812      1
4  2015-09-18  260.62  263.82  257.5000  257.96  3763064      1
5  2015-09-21  264.20  271.57  255.8000  263.98  6120155      0
6  2015-09-22  260.94  262.65  255.8700  259.03  3664353      1
7  2015-09-23  261.06  262.08  257.5838  261.95  2600778      0
8  2015-09-24  263.12  263.45  256.2100  259.53  3448191      0
9  2015-09-25  256.91  266.91  256.1500  266.61  3773392      0
10 2015-09-28  248.43  259.79  246.6100  257.35  4881802      0
11 2015-09-29  246.65  254.73  245.4600  250.46  3703154      0
12 2015-09-30  248.40  252.40  242.3400  252.00  4879816      0
13 2015-10-01  239.88  248.50  237.1300  247.51  4572964      1
14 2015-10-02  247.57  247.70  234.9300  235.60  4423982      0
15 2015-10-05  246.15  249.84  244.1300  248.84  3689865      0
16 2015-10-06  241.46  243.03  235.5800  240.00  5235897      0
17 2015-10-07  231.96  237.70  229.1200  236.63  6813959      0
18 2015-10-08  226.72  230.72  221.3100  230.08  6133216      0
19 2015-10-09  220.69  224.37  218.3600  220.93  6158370      0

In [112]:
df['sma5']  = df['close'].rolling(5).mean()
df['sma10']  = df['close'].rolling(10).mean()
df['sma50']  = df['close'].rolling(50).mean()

df['ema5'] = df['close'].ewm(span=5, min_periods=0, adjust=False, ignore_na=False).mean()
df['ema10'] = df['close'].ewm(span=10, min_periods=0, adjust=False, ignore_na=False).mean()
df['ema50'] = df['close'].ewm(span=50, min_periods=0, adjust=False, ignore_na=False).mean()

In [113]:
def wwma(values, n):
    """
     J. Welles Wilder's EMA 
    """
    return values.ewm(alpha=1/n, adjust=False, min_periods=n).mean()


def atr(df, n=14):
    data = df.copy()
    high = data['high']
    low = data['low']
    close = data['close']
    data['tr0'] = abs(high - low)
    data['tr1'] = abs(high - close.shift())
    data['tr2'] = abs(low - close.shift())
    tr = data[['tr0', 'tr1', 'tr2']].max(axis=1)
    atr = wwma(tr, n)
    return atr


df['ATRP'] = atr(df)/df['close']

In [114]:
df

,date,close,high,low,open,volume,label,sma5,sma10,sma50,ema5,ema10,ema50,ATRP
0,2015-09-14,253.19,254.25,249.6700,251.10,2890851,1,NaN,NaN,NaN,253.190000,253.190000,253.190000,NaN
1,2015-09-15,253.57,254.60,249.5000,252.75,2933466,1,NaN,NaN,NaN,253.316667,253.259091,253.204902,NaN
2,2015-09-16,262.25,262.88,252.8800,253.04,4417081,0,NaN,NaN,NaN,256.294444,254.893802,253.559612,NaN
3,2015-09-17,262.07,265.50,260.6900,263.96,3585812,1,NaN,NaN,NaN,258.219630,256.198565,253.893352,NaN
4,2015-09-18,260.62,263.82,257.5000,257.96,3763064,1,258.340,NaN,NaN,259.019753,257.002462,254.157143,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-09-04,418.32,428.00,372.0201,402.81,110321885,0,449.212,1288.892,1454.6546,657.641991,1020.182115,1356.210403,0.440290
1255,2020-09-08,330.21,368.74,329.8800,356.00,115465691,1,415.590,1120.493,1442.0640,548.497994,894.732640,1315.975093,0.537062
1256,2020-09-09,366.28,369.00,341.5100,356.60,79465769,1,393.836,954.787,1429.2026,487.758662,798.650342,1278.732148,0.457155
1257,2020-09-10,371.34,398.99,360.5600,386.21,84930608,0,378.630,776.604,1415.0332,448.952442,720.957552,1243.148142,0.426109
1258,2020-09-11,372.72,382.50,360.5000,381.94,60717459,0,371.774,590.001,1400.0950,423.541628,657.641634,1209.013705,0.398423

In [115]:
news = pd.read_csv('C:/Users/Jesse/Downloads/abcnews-date-text.csv')
news['publish_date'] = pd.to_datetime(news['publish_date'], format='%Y%m%d')
news = news.groupby('publish_date')['headline_text'].sum()
news = pd.DataFrame(news).reset_index()

In [116]:
news = news.loc[news.publish_date >= pd.to_datetime('2015-09-14')]

In [117]:
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize 

stop_words = set(stopwords.words('english')) 

def remove_stopwords(text):
    tokens = word_tokenize(text)
    
    tokens = [w for w in tokens if w not in stop_words]
    return ' '.join(tokens)


news['headline_text'].apply(remove_stopwords)

4582    2015 live export season wa32 jobs go nickel mi...
4583    7 things know malcolm turnbullabbott dumping g...
4584    150 people attended heated meeting bendigo40 y...
4585    10 year anniversary mcgrath foundation85 kille...
4586    2.3 million indians apply 368 low level govern...
                              ...
6147    abc pic week best 2019alexei navalny office ra...
6148    acosia red elk demonstrating jingle dress danc...
6149    alcohol addiction made drug dealer sent prison...
6150    aerial firefighting bundooraafrican swine feve...
6151    abc reporter liv casben seek shelter batemans ...
Name: headline_text, Length: 1570, dtype: object

In [118]:
def get_subjectivity(text):
    return TextBlob(text).sentiment.subjectivity
    
def get_polarity(text):
    return TextBlob(text).sentiment.polarity

def get_SIA(text):
    sia = SentimentIntensityAnalyzer()
    sentiment = sia.polarity_scores(text)
    return sentiment

In [119]:
news['subjectivity'] = news['headline_text'].apply(get_subjectivity)
news['polarity'] = news['headline_text'].apply(get_polarity)

In [120]:
compound = []
neg = []
pos = []
neu = []


for text in news['headline_text']:
    SIA = get_SIA(text)
    
    compound.append(SIA['compound'])
    neg.append(SIA['neg'])
    pos.append(SIA['pos'])
    neu.append(SIA['neu'])


news['compound'] = compound
news['neg'] = neg
news['pos'] = pos
news['neu'] = neu

In [121]:
news.rename({'publish_date': 'date'}, axis=1, inplace=True)

In [122]:
merged = df.merge(news, how='inner', on='date')

In [123]:
merged.dropna(inplace=True)

In [124]:
merged['label'].shape, merged.shape

((1034,), (1034, 21))

In [125]:
merged.drop(['date', 'headline_text'], axis=1, inplace=True)

In [126]:
input_data = merged.drop('label', axis=1)
targets = merged['label'].values

In [127]:
# Now make the actual data which will go into the neural network
T = 10 # the number of time steps to look at to make a prediction for the next day
D = input_data.shape[1]
N = len(input_data) - T # (e.g. if T=10 and you have 11 data points then you'd only have 1 sample)

In [128]:
from sklearn.preprocessing import StandardScaler

# normalize the inputs
Ntrain = len(input_data) * 2 // 3
scaler = StandardScaler()
scaler.fit(input_data[:Ntrain + T - 1])
input_data = scaler.transform(input_data)

In [129]:
# Setup X_train and Y_train
X_train = np.zeros((Ntrain, T, D))
Y_train = np.zeros(Ntrain)

for t in range(Ntrain):
    X_train[t, :, :] = input_data[t:t+T]
    Y_train[t] = (targets[t+T] > 0)

In [130]:
# Setup X_test and Y_test
X_test = np.zeros((N - Ntrain, T, D))
Y_test = np.zeros(N - Ntrain)

for u in range(N - Ntrain):
    # u counts from 0...(N - Ntrain)
    # t counts from Ntrain...N
    t = u + Ntrain
    X_test[u, :, :] = input_data[t:t+T]
    Y_test[u] = (targets[t+T] > 0)

In [131]:
X_test.shape, Y_test.shape

((335, 10, 18), (335,))

In [132]:
X_train.shape, Y_train.shape

((689, 10, 18), (689,))

In [135]:
# More imports
from tensorflow.keras.layers import Input, LSTM, GRU, SimpleRNN, Dense, GlobalMaxPool1D, Dropout
from tensorflow.keras.models import Model
from tensorflow.keras.optimizers import SGD, Adam

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

# make the RNN
i = Input(shape=(T, D))
x = LSTM(50)(i)
x = Dense(512, activation='relu')(x)
x = Dropout(0.2)(x)
x = Dense(256, activation='relu')(x)
x = Dropout(0.2)(x)
x = Dense(128, activation='relu')(x)
x = Dropout(0.4)(x)
x = Dense(128, activation='relu')(x)
x = Dropout(0.2)(x)
x = Dense(128, activation='relu')(x)
x = Dense(1, activation='sigmoid')(x)
model = Model(i, x)
model.compile(
  loss='binary_crossentropy',
  optimizer=Adam(lr=0.001),
  metrics=['accuracy'],
)


# train the RNN
r = model.fit(
  X_train, Y_train,
  batch_size=32,
  epochs=100,
  validation_data=(X_test, Y_test),
)

Train on 689 samples, validate on 335 samples
Epoch 1/100
689/689 [==============================] - 1s 2ms/sample - loss: 0.6967 - acc: 0.4935 - val_loss: 0.6947 - val_acc: 0.4746
Epoch 2/100
689/689 [==============================] - 0s 331us/sample - loss: 0.6909 - acc: 0.5269 - val_loss: 0.6977 - val_acc: 0.4955
Epoch 3/100
689/689 [==============================] - 0s 328us/sample - loss: 0.6936 - acc: 0.5138 - val_loss: 0.6902 - val_acc: 0.5731
Epoch 4/100
689/689 [==============================] - 0s 327us/sample - loss: 0.6789 - acc: 0.5602 - val_loss: 0.7278 - val_acc: 0.4806
Epoch 5/100
689/689 [==============================] - 0s 332us/sample - loss: 0.6793 - acc: 0.5922 - val_loss: 0.7695 - val_acc: 0.4478
Epoch 6/100
689/689 [==============================] - 0s 329us/sample - loss: 0.6709 - acc: 0.5878 - val_loss: 0.7248 - val_acc: 0.5313
Epoch 7/100
689/689 [==============================] - 0s 327us/sample - loss: 0.6708 - acc: 0.6023 - val_loss: 0.7347 - val_acc: 0.5463
Epoch 8/100
689/689 [==============================] - 0s 327us/sample - loss: 0.6574 - acc: 0.6197 - val_loss: 0.7601 - val_acc: 0.4627
Epoch 9/100
689/689 [==============================] - 0s 338us/sample - loss: 0.6427 - acc: 0.6401 - val_loss: 0.8069 - val_acc: 0.5104
Epoch 10/100
689/689 [==============================] - 0s 335us/sample - loss: 0.6254 - acc: 0.6662 - val_loss: 0.8280 - val_acc: 0.5522
Epoch 11/100
689/689 [==============================] - 0s 335us/sample - loss: 0.6250 - acc: 0.6633 - val_loss: 0.8200 - val_acc: 0.4955
Epoch 12/100
689/689 [==============================] - 0s 329us/sample - loss: 0.6058 - acc: 0.6952 - val_loss: 0.8984 - val_acc: 0.4806
Epoch 13/100
689/689 [==============================] - 0s 329us/sample - loss: 0.5865 - acc: 0.6923 - val_loss: 0.8923 - val_acc: 0.5313
Epoch 14/100
689/689 [==============================] - 0s 328us/sample - loss: 0.5640 - acc: 0.7170 - val_loss: 0.9376 - val_acc: 0.4806
Epoch 15/100
689/689 [==============================] - 0s 328us/sample - loss: 0.5470 - acc: 0.7228 - val_loss: 1.0375 - val_acc: 0.4597
Epoch 16/100
689/689 [==============================] - 0s 338us/sample - loss: 0.5758 - acc: 0.6967 - val_loss: 0.8989 - val_acc: 0.4866
Epoch 17/100
689/689 [==============================] - 0s 328us/sample - loss: 0.5471 - acc: 0.7170 - val_loss: 1.0586 - val_acc: 0.4687
Epoch 18/100
689/689 [==============================] - 0s 329us/sample - loss: 0.5085 - acc: 0.7576 - val_loss: 1.0320 - val_acc: 0.5194
Epoch 19/100
689/689 [==============================] - 0s 325us/sample - loss: 0.4773 - acc: 0.7634 - val_loss: 1.1301 - val_acc: 0.5045
Epoch 20/100
689/689 [==============================] - 0s 324us/sample - loss: 0.4924 - acc: 0.7678 - val_loss: 1.0190 - val_acc: 0.4985
Epoch 21/100
689/689 [==============================] - 0s 327us/sample - loss: 0.4707 - acc: 0.7765 - val_loss: 1.2032 - val_acc: 0.4388
Epoch 22/100
689/689 [==============================] - 0s 325us/sample - loss: 0.4433 - acc: 0.7910 - val_loss: 1.2895 - val_acc: 0.4955
Epoch 23/100
689/689 [==============================] - 0s 327us/sample - loss: 0.3886 - acc: 0.8215 - val_loss: 1.5388 - val_acc: 0.4925
Epoch 24/100
689/689 [==============================] - 0s 322us/sample - loss: 0.4033 - acc: 0.8215 - val_loss: 1.5241 - val_acc: 0.4537
Epoch 25/100
689/689 [==============================] - 0s 321us/sample - loss: 0.4087 - acc: 0.8041 - val_loss: 1.4194 - val_acc: 0.5164
Epoch 26/100
689/689 [==============================] - 0s 325us/sample - loss: 0.3604 - acc: 0.8374 - val_loss: 1.5065 - val_acc: 0.4716
Epoch 27/100
689/689 [==============================] - 0s 325us/sample - loss: 0.3346 - acc: 0.8476 - val_loss: 1.7695 - val_acc: 0.4836
Epoch 28/100
689/689 [==============================] - 0s 321us/sample - loss: 0.3190 - acc: 0.8505 - val_loss: 1.9148 - val_acc: 0.4836
Epoch 29/100
689/689 [==============================] - 0s 322us/sample - loss: 0.3740 - acc: 0.8215 - val_loss: 1.3761 - val_acc: 0.5104
Epoch 30/100
689/689 [==============================] - 0s 322us/sample - loss: 0.3168 - acc: 0.8737 - val_loss: 2.2475 - val_acc: 0.4985
Epoch 31/100
689/689 [==============================] - 0s 327us/sample - loss: 0.2950 - acc: 0.8708 - val_loss: 2.0196 - val_acc: 0.5045
Epoch 32/100
689/689 [==============================] - 0s 324us/sample - loss: 0.3120 - acc: 0.8592 - val_loss: 2.1453 - val_acc: 0.4955
Epoch 33/100
689/689 [==============================] - 0s 328us/sample - loss: 0.2656 - acc: 0.8824 - val_loss: 2.2558 - val_acc: 0.4746
Epoch 34/100
689/689 [==============================] - 0s 322us/sample - loss: 0.2840 - acc: 0.8810 - val_loss: 2.2536 - val_acc: 0.4627
Epoch 35/100
689/689 [==============================] - 0s 327us/sample - loss: 0.3147 - acc: 0.8636 - val_loss: 1.9372 - val_acc: 0.4896
Epoch 36/100
689/689 [==============================] - 0s 325us/sample - loss: 0.2412 - acc: 0.8999 - val_loss: 2.5597 - val_acc: 0.4567
Epoch 37/100
689/689 [==============================] - 0s 325us/sample - loss: 0.2075 - acc: 0.9057 - val_loss: 3.0738 - val_acc: 0.4925
Epoch 38/100
689/689 [==============================] - 0s 322us/sample - loss: 0.2113 - acc: 0.9129 - val_loss: 2.8391 - val_acc: 0.4448
Epoch 39/100
689/689 [==============================] - 0s 324us/sample - loss: 0.2257 - acc: 0.8955 - val_loss: 3.1980 - val_acc: 0.5045
Epoch 40/100
689/689 [==============================] - 0s 325us/sample - loss: 0.2194 - acc: 0.9086 - val_loss: 3.1270 - val_acc: 0.4776
Epoch 41/100
689/689 [==============================] - 0s 327us/sample - loss: 0.2165 - acc: 0.9115 - val_loss: 3.0575 - val_acc: 0.4746
Epoch 42/100
689/689 [==============================] - 0s 329us/sample - loss: 0.2474 - acc: 0.8999 - val_loss: 2.7577 - val_acc: 0.4776
Epoch 43/100
689/689 [==============================] - 0s 331us/sample - loss: 0.2035 - acc: 0.9158 - val_loss: 3.1149 - val_acc: 0.4806
Epoch 44/100
689/689 [==============================] - 0s 331us/sample - loss: 0.1744 - acc: 0.9245 - val_loss: 3.2669 - val_acc: 0.4925
Epoch 45/100
689/689 [==============================] - 0s 325us/sample - loss: 0.1529 - acc: 0.9347 - val_loss: 3.2026 - val_acc: 0.4836
Epoch 46/100
689/689 [==============================] - 0s 324us/sample - loss: 0.1427 - acc: 0.9390 - val_loss: 4.0287 - val_acc: 0.4746
Epoch 47/100
689/689 [==============================] - 0s 327us/sample - loss: 0.1624 - acc: 0.9347 - val_loss: 3.7497 - val_acc: 0.4866
Epoch 48/100
689/689 [==============================] - 0s 325us/sample - loss: 0.1579 - acc: 0.9390 - val_loss: 3.8016 - val_acc: 0.5015
Epoch 49/100
689/689 [==============================] - 0s 322us/sample - loss: 0.1211 - acc: 0.9536 - val_loss: 4.2556 - val_acc: 0.4955
Epoch 50/100
689/689 [==============================] - 0s 324us/sample - loss: 0.1413 - acc: 0.9419 - val_loss: 4.2435 - val_acc: 0.4746
Epoch 51/100
689/689 [==============================] - 0s 327us/sample - loss: 0.1272 - acc: 0.9492 - val_loss: 3.9760 - val_acc: 0.4657
Epoch 52/100
689/689 [==============================] - 0s 322us/sample - loss: 0.0953 - acc: 0.9608 - val_loss: 4.6877 - val_acc: 0.4776
Epoch 53/100
689/689 [==============================] - 0s 337us/sample - loss: 0.1284 - acc: 0.9550 - val_loss: 3.8538 - val_acc: 0.4507
Epoch 54/100
689/689 [==============================] - 0s 324us/sample - loss: 0.1163 - acc: 0.9652 - val_loss: 4.4048 - val_acc: 0.4955
Epoch 55/100
689/689 [==============================] - 0s 324us/sample - loss: 0.0793 - acc: 0.9710 - val_loss: 4.7640 - val_acc: 0.4657
Epoch 56/100
689/689 [==============================] - 0s 324us/sample - loss: 0.1202 - acc: 0.9536 - val_loss: 4.4316 - val_acc: 0.4896
Epoch 57/100
689/689 [==============================] - 0s 325us/sample - loss: 0.0948 - acc: 0.9623 - val_loss: 4.5223 - val_acc: 0.4657
Epoch 58/100
689/689 [==============================] - 0s 325us/sample - loss: 0.0884 - acc: 0.9710 - val_loss: 4.4494 - val_acc: 0.4776
Epoch 59/100
689/689 [==============================] - 0s 325us/sample - loss: 0.1301 - acc: 0.9594 - val_loss: 4.3285 - val_acc: 0.4716
Epoch 60/100
689/689 [==============================] - 0s 324us/sample - loss: 0.1035 - acc: 0.9608 - val_loss: 4.2354 - val_acc: 0.4955
Epoch 61/100
689/689 [==============================] - 0s 321us/sample - loss: 0.0667 - acc: 0.9710 - val_loss: 5.0829 - val_acc: 0.4806
Epoch 62/100
689/689 [==============================] - 0s 325us/sample - loss: 0.1051 - acc: 0.9666 - val_loss: 4.5598 - val_acc: 0.4955
Epoch 63/100
689/689 [==============================] - 0s 325us/sample - loss: 0.0653 - acc: 0.9782 - val_loss: 4.6390 - val_acc: 0.5104
Epoch 64/100
689/689 [==============================] - 0s 324us/sample - loss: 0.0439 - acc: 0.9826 - val_loss: 5.0361 - val_acc: 0.4866
Epoch 65/100
689/689 [==============================] - 0s 324us/sample - loss: 0.0445 - acc: 0.9840 - val_loss: 5.6116 - val_acc: 0.4836
Epoch 66/100
689/689 [==============================] - 0s 340us/sample - loss: 0.0569 - acc: 0.9811 - val_loss: 4.9251 - val_acc: 0.4925
Epoch 67/100
689/689 [==============================] - 0s 325us/sample - loss: 0.1039 - acc: 0.9681 - val_loss: 4.6965 - val_acc: 0.4985
Epoch 68/100
689/689 [==============================] - 0s 327us/sample - loss: 0.1257 - acc: 0.9623 - val_loss: 3.3337 - val_acc: 0.4896
Epoch 69/100
689/689 [==============================] - 0s 324us/sample - loss: 0.0817 - acc: 0.9695 - val_loss: 3.8270 - val_acc: 0.5015
Epoch 70/100
689/689 [==============================] - 0s 321us/sample - loss: 0.0364 - acc: 0.9884 - val_loss: 4.9407 - val_acc: 0.4776
Epoch 71/100
689/689 [==============================] - 0s 327us/sample - loss: 0.0550 - acc: 0.9855 - val_loss: 5.0354 - val_acc: 0.4776
Epoch 72/100
689/689 [==============================] - 0s 325us/sample - loss: 0.0605 - acc: 0.9739 - val_loss: 4.8485 - val_acc: 0.4776
Epoch 73/100
689/689 [==============================] - 0s 322us/sample - loss: 0.0382 - acc: 0.9884 - val_loss: 4.9775 - val_acc: 0.4597
Epoch 74/100
689/689 [==============================] - 0s 328us/sample - loss: 0.0634 - acc: 0.9811 - val_loss: 5.0596 - val_acc: 0.4657
Epoch 75/100
689/689 [==============================] - 0s 327us/sample - loss: 0.0476 - acc: 0.9811 - val_loss: 4.9400 - val_acc: 0.4627
Epoch 76/100
689/689 [==============================] - 0s 324us/sample - loss: 0.0503 - acc: 0.9826 - val_loss: 5.1021 - val_acc: 0.4806
Epoch 77/100
689/689 [==============================] - 0s 327us/sample - loss: 0.0572 - acc: 0.9811 - val_loss: 5.2292 - val_acc: 0.4746
Epoch 78/100
689/689 [==============================] - 0s 327us/sample - loss: 0.1218 - acc: 0.9710 - val_loss: 3.7531 - val_acc: 0.4896
Epoch 79/100
689/689 [==============================] - 0s 329us/sample - loss: 0.0489 - acc: 0.9869 - val_loss: 4.2201 - val_acc: 0.4836
Epoch 80/100
689/689 [==============================] - 0s 325us/sample - loss: 0.0223 - acc: 0.9942 - val_loss: 4.9780 - val_acc: 0.4925
Epoch 81/100
689/689 [==============================] - 0s 332us/sample - loss: 0.0857 - acc: 0.9898 - val_loss: 5.4962 - val_acc: 0.4776
Epoch 82/100
689/689 [==============================] - 0s 328us/sample - loss: 0.0212 - acc: 0.9985 - val_loss: 5.2212 - val_acc: 0.4597
Epoch 83/100
689/689 [==============================] - 0s 340us/sample - loss: 0.0321 - acc: 0.9913 - val_loss: 5.1379 - val_acc: 0.4597
Epoch 84/100
689/689 [==============================] - 0s 327us/sample - loss: 0.0334 - acc: 0.9898 - val_loss: 5.0036 - val_acc: 0.4866
Epoch 85/100
689/689 [==============================] - 0s 322us/sample - loss: 0.0513 - acc: 0.9826 - val_loss: 5.0707 - val_acc: 0.4746
Epoch 86/100
689/689 [==============================] - 0s 331us/sample - loss: 0.0488 - acc: 0.9811 - val_loss: 4.6606 - val_acc: 0.4716
Epoch 87/100
689/689 [==============================] - 0s 328us/sample - loss: 0.0348 - acc: 0.9898 - val_loss: 5.0324 - val_acc: 0.4806
Epoch 88/100
689/689 [==============================] - 0s 334us/sample - loss: 0.0564 - acc: 0.9811 - val_loss: 4.8815 - val_acc: 0.4716
Epoch 89/100
689/689 [==============================] - 0s 329us/sample - loss: 0.0242 - acc: 0.9927 - val_loss: 4.9768 - val_acc: 0.4687
Epoch 90/100
689/689 [==============================] - 0s 327us/sample - loss: 0.0600 - acc: 0.9869 - val_loss: 4.6073 - val_acc: 0.4746
Epoch 91/100
689/689 [==============================] - 0s 338us/sample - loss: 0.0408 - acc: 0.9898 - val_loss: 4.7483 - val_acc: 0.4687
Epoch 92/100
689/689 [==============================] - 0s 329us/sample - loss: 0.0420 - acc: 0.9898 - val_loss: 4.6622 - val_acc: 0.4866
Epoch 93/100
689/689 [==============================] - 0s 332us/sample - loss: 0.0335 - acc: 0.9898 - val_loss: 4.8591 - val_acc: 0.4925
Epoch 94/100
689/689 [==============================] - 0s 331us/sample - loss: 0.1043 - acc: 0.9739 - val_loss: 4.0430 - val_acc: 0.4776
Epoch 95/100
689/689 [==============================] - 0s 331us/sample - loss: 0.0589 - acc: 0.9797 - val_loss: 4.1007 - val_acc: 0.4627
Epoch 96/100
689/689 [==============================] - 0s 329us/sample - loss: 0.0253 - acc: 0.9927 - val_loss: 4.8944 - val_acc: 0.4687
Epoch 97/100
689/689 [==============================] - 0s 328us/sample - loss: 0.0207 - acc: 0.9971 - val_loss: 5.3375 - val_acc: 0.4746
Epoch 98/100
689/689 [==============================] - 0s 337us/sample - loss: 0.0116 - acc: 0.9956 - val_loss: 5.5645 - val_acc: 0.4716
Epoch 99/100
689/689 [==============================] - 0s 331us/sample - loss: 0.0196 - acc: 0.9942 - val_loss: 5.3103 - val_acc: 0.4836
Epoch 100/100
689/689 [==============================] - 0s 329us/sample - loss: 0.0130 - acc: 0.9971 - val_loss: 5.4033 - val_acc: 0.4896

In [136]:
model.evaluate(X_test, Y_test)

335/335 [==============================] - 0s 110us/sample - loss: 5.4033 - acc: 0.4896

[5.403338604542746, 0.48955223]