In [126]:
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize  
from pprint import pprint
import requests 
import os
from re import search
from yelp.client import Client

import sqlite3 as sqlite
from sqlalchemy import create_engine

In [74]:
data = pd.read_excel('/mnt/d/lighthouse/lighthouse_data_notes/Week_4/Day_5/assessment-exam-student-python/supporting_files/SaleData.xlsx')

In [75]:
data.head()

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt
0,2018-01-06,East,Martha,Alexander,Television,95.0,1198.0,113810.0
1,2018-01-23,Central,Hermann,Shelli,Home Theater,50.0,500.0,25000.0
2,2018-02-09,Central,Hermann,Luis,Television,36.0,1198.0,43128.0
3,2018-02-26,Central,Timothy,David,Cell Phone,27.0,225.0,6075.0
4,2018-03-15,West,Timothy,Stephen,Television,56.0,1198.0,67088.0

In [79]:
temp = data.groupby(['Manager','Region']).sum()
temp

                 Units  Unit_price  Sale_amt
Manager Region
Douglas Central  156.0      1823.0  124016.0
        East     170.0       783.5   48204.0
        West      89.0      1698.0   66836.0
Hermann Central  647.0      5953.0  365108.5
Martha  Central  183.0      4094.0  199690.0
        East     521.0      4963.0  272803.0
Timothy Central  213.0      3621.0  140955.0
        West     142.0      2048.0   88063.0

In [93]:
def compute_total_sale(data):
    temp = data.groupby(['Manager','Region']).sum()
    temp = data.groupby(['Manager','Region']).sum()
    temp.drop(['Units','Unit_price'], axis = 1, inplace = True)
    temp = temp.reset_index()
    temp = temp.sort_values(by='Sale_amt', ascending = False)
    temp= temp[['Region','Manager','Sale_amt']]
    temp = temp.reset_index()
    temp.drop('index',axis = 1, inplace= True)
    return(temp)

In [94]:
#Write a function to count the manager wise sale (sale_cnt)
#and mean value of sale amount (sale_mean). 
#Order the output dataframe by sale_cnt, starting with the highest.
#Output should be DataFrame with 3 columns (order is important):
#    - Manager
#    - sale_cnt
#    - sale_mean
#and numeric index starting with 0 (after sorting).

    Region  Manager  Sale_amt
0  Central  Hermann  365108.5
1     East   Martha  272803.0
2  Central   Martha  199690.0
3  Central  Timothy  140955.0
4  Central  Douglas  124016.0
5     West  Timothy   88063.0
6     West  Douglas   66836.0
7     East  Douglas   48204.0

In [121]:
def compute_agg_stats(data):
    sale_cnt = data.groupby('Manager').count()
    sale_mean = data.groupby('Manager').mean()
    sale_mean = pd.DataFrame(sale_mean['Sale_amt'])
    sale_mean = sale_mean.reset_index()
    sale_cnt = pd.DataFrame(sale_cnt['Sale_amt'])
    sale_cnt =sale_cnt.reset_index()
    final = pd.merge(sale_mean,sale_cnt,on='Manager')
    final = final[['Manager','Sale_amt_y','Sale_amt_x']]
    final.columns = ['Manager','sale_cnt','sale_mean']
    final = final.sort_values('sale_cnt', ascending = False)
    final = final.reset_index(drop = True)
    return(final)

In [122]:
compute_agg_stats(data)

   Manager  sale_cnt     sale_mean
0   Martha        14  33749.500000
1  Hermann        12  30425.708333
2  Timothy         9  25446.444444
3  Douglas         8  29882.000000

In [105]:
sale_cnt

   Manager  Sale_amt
0  Douglas         8
1  Hermann        12
2   Martha        14
3  Timothy         9

In [8]:
p = { "a": 1, "b": 2 }
#{ "a": 120, "b": 240 }

In [39]:
def pie_chart(dictionary):
    total = sum(dictionary.values())
    for i in dictionary:
        temp = round(dictionary[i]/total,2)
        dictionary[i] = round(temp*360,2)
    return(dictionary)

In [32]:
total = sum(p.values())
for i in p:
    temp = p[i]/total
    p[i] = round(temp*360,2)
p

{'a': 118.8, 'b': 241.2}

In [40]:
pie_chart({ "a": 30, "b": 15, "c": 55 })

{'a': 108.0, 'b': 54.0, 'c': 198.0}

In [41]:
pie_chart({ "a": 8, "b": 21, "c": 12, "d": 5, "e": 4 })

{'a': 57.6, 'b': 151.2, 'c': 86.4, 'd': 36.0, 'e': 28.8}

In [64]:
x=[1, 2, 3]
n = 1
#[9, -2, 15]

In [65]:
to_even = n*2
to_odd = n*(-2)

In [66]:
x[0]

1

In [68]:
def even_odd_transform(lst,repeat):
    to_even = repeat*2
    to_odd = repeat*(-2)
    for i in range(len(lst)):
        print(lst[i])
        if (lst[i]%2==0):
            lst[i] += to_odd
        else:
            lst[i] += to_even
    return(lst)

In [70]:
even_odd_transform([0, 0, 0], 10)

0
0
0

[-20, -20, -20]

# SQL

In [125]:
os.getcwd()

'/mnt/d/lighthouse/lighthouse_data_notes/Week_4/Day_5/assessment-exam-student-python'

In [127]:
connection = create_engine('sqlite:///assessment-exam-student-python/supporting_files/hr.db')

In [128]:
pd.read_sql_query('select * from sqlite_master', connection)

OperationalError: (sqlite3.OperationalError) unable to open database file
(Background on this error at: http://sqlalche.me/e/13/e3q8)