In [1]:
import pandas as pd
import numpy as np

In [2]:
 dft = pd.DataFrame({'A': np.random.rand(3),
                        'B': 1,
                        'C': 'foo',
                        'D': pd.Timestamp('20010102'),
                        'E': pd.Series([1.0] * 3).astype('float32'),
                        'F': False,
                        'G': pd.Series([1] * 3, dtype='int8')})

In [3]:
dft

          A  B    C          D    E      F  G
0  0.394459  1  foo 2001-01-02  1.0  False  1
1  0.037208  1  foo 2001-01-02  1.0  False  1
2  0.955111  1  foo 2001-01-02  1.0  False  1

In [4]:
dft.dtypes

A           float64
B             int64
C            object
D    datetime64[ns]
E           float32
F              bool
G              int8
dtype: object

In [16]:
df1 = pd.DataFrame(np.random.randn(8, 1), columns=['A'], dtype='float32')

In [17]:
df1.dtypes

A    float32
dtype: object

In [18]:
df1 = df1.astype('float64')
df1.dtypes

A    float64
dtype: object

In [21]:
dft1 = pd.DataFrame({'a': [1, 0, 1], 'b': [4, 5, 6], 'c': [7, 8, 9]})
dft1

   a  b  c
0  1  4  7
1  0  5  8
2  1  6  9

In [23]:
dft1 = dft1.astype({'a': np.bool, 'c': np.float64})

In [24]:
dft1

       a  b    c
0   True  4  7.0
1  False  5  8.0
2   True  6  9.0