# Sets

* create a new empty set
* print that set

In [1]:
empt = {}
print(empt)

{}

* create a non empty set
* print that set

In [2]:
a={1,2,4,2,3}
print(a)

{1, 2, 3, 4}

* iterate over the set and print results

In [3]:
for i in a:
    print( i)

1
2
3
4

* add one item to the set

In [5]:
a.add(5)
print(a)

{1, 2, 3, 4, 5}

* add multiple items to the set

In [8]:
a.update({6,7,8})
print(a)

{1, 2, 3, 4, 5, 6, 7, 8}

* remove an item from a set if it is present in the set

In [9]:
# All items in sets are unique
a.add(8)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8}

* find maximum and minimum values of the set

In [12]:
print(max(a))
print(min(a))

8
1

* print the length of the set

In [13]:
print(len(a))

8

* create an intersection of x and y

In [16]:
x = {1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12}
y = {2, 4, 6, 8}

print(x & y)

{8, 2, 4, 6}

* create an union of x and y

In [17]:
print(x | y)

{1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12}

* create difference between x and y

In [18]:
print(x - y)

{1, 3, 5, 7, 10, 11, 12}

# Collections

* for each word in sentence count occurence
* sentence : black cat jumped over white cat

In [31]:
from collections import Counter
sentence = 'black cat jumped over white cat'
words = sentence.split()
Counter(words)

Counter({'black': 1, 'cat': 2, 'jumped': 1, 'over': 1, 'white': 1})

* print the most common words

In [32]:
print(Counter(words).most_common())

[('cat', 2), ('black', 1), ('jumped', 1), ('over', 1), ('white', 1)]

* count the occurences of words in the same sentence but now use defaultdict

In [38]:
from collections import defaultdict
dict_words = defaultdict(int)
for word in words:
    dict_words[word] += 1
print(dict_words)

defaultdict(<class 'int'>, {'black': 1, 'cat': 2, 'jumped': 1, 'over': 1, 'white': 1})

* create deque from list set used in first exercise

In [45]:
from collections import deque
z = deque(x)
z

deque([1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12])

* append number 10 to deque

In [46]:
z.append(10)
z

deque([1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 10])

* remove element from the right end from deque

In [47]:
print(z)
z.pop()
z

deque([1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 10])

deque([1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12])

* remove element from the left end from deque

In [48]:
print(z)
z.popleft()
z

deque([1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12])

deque([2, 3, 4, 5, 6, 7, 8, 10, 11, 12])

* delete all elements from deque

In [49]:
z.clear()
z

deque([])

* create named tuple (people) with name and surname as position names

In [57]:
from collections import namedtuple

people = namedtuple('people','name, surname')
person_1 = people('David','Lin')

* print name and surname

In [60]:
print(people.name, people.surname)

<_collections._tuplegetter object at 0x7f7a2c4684f0> <_collections._tuplegetter object at 0x7f7a2c468cd0>

# Exception handling

* transforn all strings from list to upper, if the element is not string don't transform it
* use try except block without use of 'if' statement

In [66]:
sentence = '3.2 black cats jumped over 65 white cat 72 times'
lst = sentence.split()
print(lst)

['3.2', 'black', 'cats', 'jumped', 'over', '65', 'white', 'cat', '72', 'times']

In [67]:
try:
    for i in range(len(lst)):
        lst[i] = lst[i].upper()
except:
    print("Something happened")
finally:
    print(lst)

['3.2', 'BLACK', 'CATS', 'JUMPED', 'OVER', '65', 'WHITE', 'CAT', '72', 'TIMES']