In [56]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout

In [57]:
dataset_train = pd.read_csv('tataglobal.csv', header= 0)
dataset_train

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
0,2018-10-24,220.10,221.25,217.05,219.55,219.80,2171956,4771.34
1,2018-10-23,221.10,222.20,214.75,219.55,218.30,1416279,3092.15
2,2018-10-22,229.45,231.60,222.00,223.05,223.25,3529711,8028.37
3,2018-10-19,230.30,232.70,225.50,227.75,227.20,1527904,3490.78
4,2018-10-17,237.70,240.80,229.45,231.30,231.10,2945914,6961.65
5,2018-10-16,237.10,237.70,233.05,234.40,235.45,1723113,4052.25
6,2018-10-15,229.70,237.00,226.80,234.80,234.90,1224339,2845.68
7,2018-10-12,226.25,232.35,225.50,228.70,229.10,1165527,2675.91
8,2018-10-11,215.00,229.70,215.00,225.60,224.60,1293881,2890.85
9,2018-10-10,215.00,229.65,215.00,228.25,228.40,2919278,6557.95
10,2018-10-09,215.50,219.15,209.60,215.00,216.50,1844462,3940.70
11,2018-10-08,208.00,222.25,206.85,216.00,215.15,4642146,10062.83
12,2018-10-05,217.00,218.60,205.90,210.25,209.20,3519515,7407.06
13,2018-10-04,223.50,227.80,216.15,217.25,218.20,1728786,3815.79
14,2018-10-03,230.00,237.50,225.75,226.45,227.60,1708590,3960.27
15,2018-10-01,234.55,234.60,221.05,230.30,230.90,1534749,3486.05

In [61]:
training_set = dataset_train.iloc[:, 1:2].values
training_set

array([[220.1 ],
       [221.1 ],
       [229.45],
       [230.3 ],
       [237.7 ],
       [237.1 ],
       [229.7 ],
       [226.25],
       [215.  ],
       [215.  ],
       [215.5 ],
       [208.  ],
       [217.  ],
       [223.5 ],
       [230.  ],
       [234.55]])

### Feature Scaling

In [62]:
sc = MinMaxScaler(feature_range = (0, 1))
training_set_scaled = sc.fit_transform(training_set)

In [63]:
training_set_scaled

array([[0.40740741],
       [0.44107744],
       [0.72222222],
       [0.75084175],
       [1.        ],
       [0.97979798],
       [0.73063973],
       [0.61447811],
       [0.23569024],
       [0.23569024],
       [0.25252525],
       [0.        ],
       [0.3030303 ],
       [0.52188552],
       [0.74074074],
       [0.89393939]])

### Data with Timestamps

In [55]:
#X_train

y_train

In [16]:
len(X_train)

1975

In [17]:
len(X_train[0])

16

In [51]:
X_train = []
y_train = []
for i in range(60, 2035):
    X_train.append(training_set_scaled[i-60:i, 0])
    y_train.append(training_set_scaled[i, 0])
X_train, y_train = np.array(X_train), np.array(y_train)

X_train = np.reshape(X_train, (X_train.shape[0], X_train.shape[1], 1))

### Model

In [34]:
regressor = Sequential()

regressor.add(LSTM(units = 50, return_sequences = True, input_shape = (X_train.shape[1], 1)))
regressor.add(Dropout(0.2))

regressor.add(LSTM(units = 50, return_sequences = True))
regressor.add(Dropout(0.2))

regressor.add(LSTM(units = 50, return_sequences = True))
regressor.add(Dropout(0.2))

regressor.add(LSTM(units = 50))
regressor.add(Dropout(0.2))

regressor.add(Dense(units = 1))

regressor.compile(optimizer = 'adam', loss = 'mean_squared_error')

regressor.fit(X_train, y_train, epochs = 100, batch_size = 32)

AttributeError: 'list' object has no attribute 'shape'