In [1]:
import datetime

datetime_object = datetime.datetime.now()
print(datetime_object)

2020-07-21 14:33:57.749802

In [2]:
date_object = datetime.date.today()
print(date_object)

2020-07-21

In [3]:
print(dir(datetime))

['MAXYEAR', 'MINYEAR', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'sys', 'time', 'timedelta', 'timezone', 'tzinfo']

In [4]:
d = datetime.date(2019, 4, 13)
print(d)

2019-04-13

In [6]:
from datetime import date

a = date(2019, 4, 13)
print(a)

2019-04-13

In [7]:
today = date.today()

print("Current date =", today)

Current date = 2020-07-21

In [8]:
timestamp = date.fromtimestamp(1326244364)
print("Date =", timestamp)

Date = 2012-01-10

In [9]:
today = date.today() 

print("Current year:", today.year)
print("Current month:", today.month)
print("Current day:", today.day)

Current year: 2020
Current month: 7
Current day: 21

In [10]:
from datetime import time

a = time()
print("a =", a)

b = time(11, 34, 56)
print("b =", b)

c = time(hour = 11, minute = 34, second = 56)
print("c =", c)

d = time(11, 34, 56, 234566)
print("d =", d)

a = 00:00:00
b = 11:34:56
c = 11:34:56
d = 11:34:56.234566

In [11]:
a = time(11, 34, 56)

print("hour =", a.hour)
print("minute =", a.minute)
print("second =", a.second)
print("microsecond =", a.microsecond)

hour = 11
minute = 34
second = 56
microsecond = 0

In [12]:
from datetime import datetime

a = datetime(2018, 11, 28)
print(a)

b = datetime(2017, 11, 28, 23, 55, 59, 342380)
print(b)

2018-11-28 00:00:00
2017-11-28 23:55:59.342380

In [14]:
a = datetime(2017, 11, 28, 23, 55, 59, 342380)

print("year =", a.year)
print("month =", a.month)
print("hour =", a.hour)
print("minute =", a.minute)
print("timestamp =", a.timestamp())

year = 2017
month = 11
hour = 23
minute = 55
timestamp = 1511938559.34238

In [15]:
from datetime import datetime, date

t1 = date(year = 2018, month = 7, day = 12)
t2 = date(year = 2017, month = 12, day = 23)
t3 = t1 - t2
print("t3 =", t3)

t4 = datetime(year = 2018, month = 7, day = 12, hour = 7, minute = 9, second = 33)
t5 = datetime(year = 2019, month = 6, day = 10, hour = 5, minute = 55, second = 13)
t6 = t4 - t5
print("t6 =", t6)

print("type of t3 =", type(t3)) 
print("type of t6 =", type(t6))

t3 = 201 days, 0:00:00
t6 = -333 days, 1:14:20
type of t3 = <class 'datetime.timedelta'>
type of t6 = <class 'datetime.timedelta'>

In [16]:
from datetime import timedelta

t1 = timedelta(weeks = 2, days = 5, hours = 1, seconds = 33)
t2 = timedelta(days = 4, hours = 11, minutes = 4, seconds = 54)
t3 = t1 - t2

print("t3 =", t3)

t3 = 14 days, 13:55:39

In [17]:
t1 = timedelta(seconds = 33)
t2 = timedelta(seconds = 54)
t3 = t1 - t2

print("t3 =", t3)
print("t3 =", abs(t3))

t3 = -1 day, 23:59:39
t3 = 0:00:21

In [18]:
t = timedelta(days = 5, hours = 1, seconds = 33, microseconds = 233423)
print("total seconds =", t.total_seconds())

total seconds = 435633.233423

In [19]:
now = datetime.now()
print(now)

t = now.strftime("%H:%M:%S")
print("time:", t)

s1 = now.strftime("%m/%d/%Y, %H:%M:%S")
print("s1:", s1)

s2 = now.strftime("%d/%m/%Y, %H:%M:%S")
print("s2:", s2)

2020-07-21 14:40:47.546822
time: 14:40:47
s1: 07/21/2020, 14:40:47
s2: 21/07/2020, 14:40:47

In [20]:
date_string = "21 June, 2018"
print("date_string =", date_string)

date_object = datetime.strptime(date_string, "%d %B, %Y")
print("date_object =", date_object)

date_string = 21 June, 2018
date_object = 2018-06-21 00:00:00

In [22]:
date_str = "June 21, 2018"
print(datetime.strptime(date_str, "%B %d, %Y"))

2018-06-21 00:00:00

In [23]:
import pytz

local = datetime.now()
print("Local:", local.strftime("%m/%d/%Y, %H:%M:%S"))


tz_NY = pytz.timezone('America/New_York') 
datetime_NY = datetime.now(tz_NY)
print("NY:", datetime_NY.strftime("%m/%d/%Y, %H:%M:%S"))

tz_London = pytz.timezone('Europe/London')
datetime_London = datetime.now(tz_London)
print("London:", datetime_London.strftime("%m/%d/%Y, %H:%M:%S"))

Local: 07/21/2020, 14:43:11
NY: 07/21/2020, 16:43:11
London: 07/21/2020, 21:43:11