In [2]:
from datetime import datetime

datetime_object = datetime.now()
print(datetime_object)
print('Type :- ',type(datetime_object))

2020-07-21 13:31:55.387922
Type :-  <class 'datetime.datetime'>

In [4]:
my_string = '2019-10-31'

my_date = datetime.strptime(my_string, "%Y-%m-%d")

print(my_date)
print('Type: ',type(my_date))

2019-10-31 00:00:00
Type:  <class 'datetime.datetime'>

In [5]:
print('Month: ', my_date.month) 
print('Year: ', my_date.year)

Month:  10
Year:  2019

In [8]:
import calendar
print('Day of Month:', my_date.day)

print('Day of Week (number): ', my_date.weekday())

print('Day of Week (name): ', calendar.day_name[my_date.weekday()])

Day of Month: 2020-07-21 13:04:25.130937
Day of Week (number):  1
Day of Week (name):  Thursday

In [20]:
j = 0
for i in calendar.day_name:
    print(j,'-',i)
    j+=1

0 - Monday
1 - Tuesday
2 - Wednesday
3 - Thursday
4 - Friday
5 - Saturday
6 - Sunday

In [24]:
from datetime import datetime 

todays_date = datetime.now()
print(todays_date)

print('Hour: ', todays_date.hour)

print('Minute: ', todays_date.minute)

2020-07-21 13:08:49.635682
Hour:  13
Minute:  8

In [25]:
todays_date.isocalendar()

(2020, 30, 2)

In [26]:
todays_date.isocalendar()[1]

30

In [28]:
from datetime import datetime

now = datetime.now()

timestamp = datetime.timestamp(now)

print("Date and Time :", now)
print("Timestamp:", timestamp)

Date and Time : 2020-07-21 13:11:20.955512
Timestamp: 1595358680.955512

In [29]:
from datetime import datetime
timestamp = 1572014192.8273

dt_object = datetime.fromtimestamp(timestamp)

print("dt_object:", dt_object)
print("type(dt_object): ", type(dt_object))

dt_object: 2019-10-25 08:36:32.827300
type(dt_object):  <class 'datetime.datetime'>

In [34]:
from datetime import timedelta

d = timedelta(weeks=23)

print(d)
print(type(d))
print(d.days)

161 days, 0:00:00
<class 'datetime.timedelta'>
161

In [35]:
from datetime import datetime, timedelta

now = datetime.now()
print ("Today's date: ", str(now))

future_date_after_15days = now + timedelta(days = 15)
print('Date after 15 days: ', future_date_after_15days)

two_weeks_ago = now - timedelta(weeks = 2)
print('Date two weeks ago: ', two_weeks_ago)
print('two_weeks_ago object type: ', type(two_weeks_ago))

Today's date:  2020-07-21 13:13:40.048734
Date after 15 days:  2020-08-05 13:13:40.048734
Date two weeks ago:  2020-07-07 13:13:40.048734
two_weeks_ago object type:  <class 'datetime.datetime'>

In [36]:
now = datetime.now()
print(now)
after = timedelta(days = 1)
print(now + after)

2020-07-21 13:14:43.819023
2020-07-22 13:14:43.819023

In [37]:
from datetime import date

date1 = date(2008, 8, 18)
date2 = date(2008, 8, 10)

delta = date2 - date1
print("Difference: ", delta.days)
print('delta object type: ', type(delta))

Difference:  -8
delta object type:  <class 'datetime.timedelta'>

In [38]:
from datetime import datetime

date1 = datetime(2017, 6, 21, 18, 25, 30)
date2 = datetime(2017, 5, 16, 8, 21, 10)

diff = date1-date2
print("Difference: ", diff)

Difference:  36 days, 10:04:20

# Formatting Dates

In [45]:
from datetime import datetime
date_string = "1 August, 2019"

date_object = datetime.strptime(date_string, "%d %B, %Y")

print("date_object: ", date_object)

date_object:  2019-08-01 00:00:00

In [51]:
from datetime import datetime
dt_string = "12/11/2018 09:15:32"

dt_object1 = datetime.strptime(dt_string, "%d/%m/%Y %H:%M:%S")
print("dt_object1:", dt_object1)

dt_object2 = datetime.strptime(dt_string, "%m/%d/%Y %H:%M:%S")
print("dt_object2:", dt_object2)

timestamp = datetime.timestamp(dt_object2)
print('Unix Timestamp: ', timestamp)

dt_object1: 2018-11-12 09:15:32
dt_object2: 2018-12-11 09:15:32
Unix Timestamp:  1544544932.0

In [50]:
date_time = datetime.fromtimestamp(timestamp)
d = date_time.strftime("%c")
print("Output 1:", d)
d = date_time.strftime("%x")
print("Output 2:", d)
d = date_time.strftime("%X")
print("Output 3:", d)

Output 1: Tue Dec 11 09:15:32 2018
Output 2: 12/11/18
Output 3: 09:15:32

In [52]:
now = datetime.now()

year = now.strftime("%Y")
print("Year:", year)

month = now.strftime("%m")
print("Month:", month)

day = now.strftime("%d")
print("Day:", day)

time = now.strftime("%H:%M:%S")
print("Time:", time)

date_time = now.strftime("%m/%d/%Y, %H:%M:%S")
print("Date and Time:",date_time)

Year: 2020
Month; 07
Day: 21
Time: 13:22:30
Date and Time: 07/21/2020, 13:22:30

In [3]:
from pytz import timezone

east = timezone('US/Eastern')

loc_dt = east.localize(datetime(2011, 11, 2, 7, 27, 0))
print(loc_dt)

kolkata = timezone("Asia/Kolkata")
print(loc_dt.astimezone(kolkata))

au_tz = timezone('Australia/Sydney')
print(loc_dt.astimezone(au_tz))

2011-11-02 07:27:00-04:00
2011-11-02 16:57:00+05:30
2011-11-02 22:27:00+11:00

In [8]:
import pandas as pd

date = pd.to_datetime("8th nov, 2019")
print(date)

2019-11-08 00:00:00

In [10]:
import numpy as np

date_series = date + pd.to_timedelta(np.arange(12), 'D')
print(date_series)

date_series = pd.date_range('08/10/2019', periods = 12, freq ='D')
print(date_series)

DatetimeIndex(['2019-11-08', '2019-11-09', '2019-11-10', '2019-11-11',
               '2019-11-12', '2019-11-13', '2019-11-14', '2019-11-15',
               '2019-11-16', '2019-11-17', '2019-11-18', '2019-11-19'],
              dtype='datetime64[ns]', freq=None)
DatetimeIndex(['2019-08-10', '2019-08-11', '2019-08-12', '2019-08-13',
               '2019-08-14', '2019-08-15', '2019-08-16', '2019-08-17',
               '2019-08-18', '2019-08-19', '2019-08-20', '2019-08-21'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df = pd.DataFrame()
df['date'] = date_series 
df.head()

        date
0 2019-08-10
1 2019-08-11
2 2019-08-12
3 2019-08-13
4 2019-08-14

In [16]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['hour'] = df['date'].dt.hour
df['minute'] = df['date'].dt.minute
df.head()

        date  year  month  day  hour  minute
0 2019-08-10  2019      8   10     0       0
1 2019-08-11  2019      8   11     0       0
2 2019-08-12  2019      8   12     0       0
3 2019-08-13  2019      8   13     0       0
4 2019-08-14  2019      8   14     0       0

In [19]:
df['weekday'] = df['date'].dt.weekday
df['day_name'] = df['date'].dt.dayofweek
df['dayofyear'] = df['date'].dt.dayofyear
df.head()

        date  year  month  day  hour  minute  weekday  dayofyear  day_name
0 2019-08-10  2019      8   10     0       0        5        222         5
1 2019-08-11  2019      8   11     0       0        6        223         6
2 2019-08-12  2019      8   12     0       0        0        224         0
3 2019-08-13  2019      8   13     0       0        1        225         1
4 2019-08-14  2019      8   14     0       0        2        226         2

In [20]:
df.index = df.date
df.head()

,date,year,month,day,hour,minute,weekday,dayofyear,day_name
date,,,,,,,,,
2019-08-10,2019-08-10,2019,8,10,0,0,5,222,5
2019-08-11,2019-08-11,2019,8,11,0,0,6,223,6
2019-08-12,2019-08-12,2019,8,12,0,0,0,224,0
2019-08-13,2019-08-13,2019,8,13,0,0,1,225,1
2019-08-14,2019-08-14,2019,8,14,0,0,2,226,2